@charset "utf-8";

@import "reset";
@import "common";

#app {
    height: 100%;
    min-height: 850px;
    //min-width: 100%;
    //min-width: 1700px;
    background: url("./assets/images/firstScreen/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;

    .logoImg {
        position: absolute;
        top: 60px;
        left: 100px;
    }
}

.full-loading {
    background: rgba(0, 0, 0, 0.6);
    line-height: 20px;
    .el-loading-spinner .path {
        stroke: #B7D8FF;
    }
    p {
        color: #B7D8FF !important;
        font-size: 18px !important;
    }
}

.trade-record-table th {
    background-color: #221d44;
}

.el-table {
    .cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.el-slider {
    .el-slider__bar {
        background-color: #e4e7ed;
    }
}

.el-input:focus,
.el-textarea:focus {
    background-color: #5A558E;
    box-shadow: 0px 0px 10px 0px rgba(190, 182, 255, 0.3);
    border: solid 1px rgba(208, 202, 253, 0.54) !important;
    outline: none;
}

input:read-only,
textarea:read-only {
    color: #97BFEB;
}

.el-select input:read-only {
    color: #CEC8FF;
}

.popper__arrow {
    border-bottom-color: #534B86 !important;
}

.popper__arrow:after {
    border-bottom-color: #433E71 !important;
}

/*****  wallet style start    ****/

.el-form label {
    font-size: 18px;
    color: #b6d7ff;
}

.el-wallet-style .el-wallet-input input,
.el-wallet-style .el-wallet-input textarea {
    font-size: 18px;
    background-color: #7a99be;
    color: #182f4a;
    position: relative;
    left: -70px;
    &:focus {
        border: none;
        background-color: #9DC1F0;
    }
}

.el-wallet-style .el-wallet-account-input input,
.el-wallet-style .el-wallet-account-input textarea {
    font-size: 18px;
    background-color: #7a99be;
    color: #182f4a;
    position: relative;
    left: -70px;
    top: 40px;

    &:focus {
        border: none;
        background-color: #9DC1F0;
    }
}

.transaction textarea {
    height: 300px;
}

.finishe-address {
    input {
        height: 70px;
        font-size: 24px;
    }
    label {
        line-height: 70px;
    }
}

#app .el-wallet-main-button {
    width: 50%;
    height: 64px;
    background-color: #5837ff;
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    position: relative;
    left: 150px;
    top: 20px;

    &:hover {
        background-color: #6262FF;
        color: #ffffff;
    }

    &:disabled {
        background: #9386CE;
    }
}

.el-wallet-style .el-wallet-input input:-moz-placeholder,
.el-wallet-style .el-wallet-input textarea:-moz-placeholder {
    color: $ph_color !important;
}

.el-wallet-style .el-wallet-input input:-ms-input-placeholder,
.el-wallet-style .el-wallet-input textarea:-ms-input-placeholder {
    color: $ph_color !important;
}

.el-wallet-style .el-wallet-input input::-webkit-input-placeholder,
.el-wallet-style .el-wallet-input textarea::-webkit-input-placeholder {
    color: $ph_color !important;
}

#app .create-wallet {
    .agreed {
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 18px;
        position: relative;
        left: 150px;
        .el-checkbox {
            color: #8a9df0;
            span {
                font-size: 18px;
            }
            .el-checkbox__input.is-checked + .el-checkbox__label {
                color: #8a9df0;
            }
            .el-checkbox__input {
                margin-top: -6px;
            }
            &:hover {
                cursor: default;
            }
        }
        .deal {
            color: #8a9df0;
            &:hover {
                cursor: pointer;
                color: #5D76EA;
            }
        }
    }

    .el-dialog {
        //margin-top: 22vh !important;
        padding: 0 30px;
        border: solid 1px $outside_border_color;
        background: rgba(32, 27, 67, 0.97) !important;
    }
    .create-wallet-dialog {
        &.app-detail-font {
            .el-dialog {
                .el-dialog__header {
                    span {
                        font-size: 22px;
                    }
                }
            }
        }
        .el-dialog__header {
            border-bottom: solid 1px $inner_border_color;
            line-height: 50px;
            span {
                font-size: 22px;
                color: #8abdec;
            }
        }
    }
    .wallet-agreement {
        .body {
            overflow-y: auto;
            border: solid 1px rgba(208, 202, 253, 0.15);
            padding: 15px;
        }
        .footer {
            text-align: center;
            margin-top: 30px;
            .el-button {
                background-color: #5837ff;
                color: #ffffff;
                border: none;
                &:hover {
                    background-color: #6262FF;
                    color: #ffffff;
                }
            }
        }
    }
}

.el-loading-mask {
    z-index: 9999999999 !important;
}

/*****  wallet style end    ****/

/*   language   */
.language-style {
    input {
        border: solid 1px #433e71;
        background: rgba(0, 0, 0, 0);
    }
}

/**     message     **/
.el-message {
    background-color: #303787;
    border-color: #5873AD;
    justify-content: center;
    i {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}

.el-message-box {
    background-color: #1F1A42;
    border: solid 1px #524c91;
    button:first-child {
        background: #372e65;
        color: #fff;
        border: 1px solid #372e65;
        &:hover {
            background: #5A50A2;
            border: 1px solid #5A50A2;
        }
    }
}

//  分页的样式
.el-pagination.is-background {
    .btn-prev, .btn-next {
        background: #342C67;
    }
    .el-pager {
        li {
            background: #342C67;
        }
    }
}

// 渐隐动画
.fof-fade-enter {
    opacity: 0;
}

.fof-fade-enter-active {
    transition: opacity 0.7s ease-in-out;
}

.fof-fade-enter-to {
    opacity: 1;
}

.fof-fade-leave {
    opacity: 0;
}

.fof-fade-leave-active {
    transition: opacity 0.7s ease-in-out;
    transition-delay: -1s;
}

.fof-fade-leave-to {
    opacity: 1;
}

.fof-fade-2-enter {
    opacity: 0;
}

.fof-fade-2-enter-active {
    transition: opacity 0.3s ease-in-out;
}

.fof-fade-2-enter-to {
    opacity: 1;
}

/*   my-app   */
.my-apps {
    .el-input-group__append {
        .el-button {
            background: #675DE5;
            border: 2px solid #675DE5;
            border-radius: 0;
            padding: 12px 18px;
            &:hover {
                background: #7E74FF;
                border-color: #7E74FF;
            }
        }
    }
}

/*  el-input-group__append  */
.el-input-group__append {
    border: 0;
    background: #5A529D;
    color: #E9F4FF;
    font-size: 16px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #182f4a !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}

#app {
    .mainScreen {
        .tranc-address {
            .account-style {
                display: inline-block;
                .el-input__inner {
                    min-width: 600px;
                    height: 32px !important;
                    border: solid 1px #433e71;
                    background: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}
.el-scrollbar {
    .el-button {
        height: 26px!important;
        margin-left: 10px;
        margin-top: 4px;
        padding: 0 10px;
        background: #5A529D;
        border: none;
        span {
            line-height: 16px!important;
        }
        &:hover {
            background: #7167C4;
        }
    }
}
